body {
    margin: 0;
    font-family: "Source Sans Pro", 'Arial', sans-serif;
    background: url('assets/minecraft-bg.jpeg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    overflow-x: hidden;
}



h1.titulo {
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 50px;
    background: #1DB53C80;
    border-radius: 5px;
    padding: 15px 20px;
    font-family: 'Minecraft', sans-serif;
}

@media screen and (min-width: 992px) {
    h1.titulo {
        font-size: 48px;
    }
}

p.detalle  {
    font-size: 22px;
    margin: 0;
    text-transform: uppercase;
    padding: 15px 0;
    background: #1DB53C80;
    border-radius: 5px;
}

@media screen and (min-width: 992px) {
    p.detalle  {
        font-size: 36px;
    }
}


.countdown {
    font-size: 28px;
    margin: 50px auto;
    text-transform: uppercase;
    padding: 15px 20px;
    background: #1DB53C80;
    border-radius: 5px;

}

.countdown span {
    font-size: 14px;
    display: block;
}


@media screen and (min-width: 992px) {
    .countdown {
        font-size: 48px;
        width: 70%;

    }

    .countdown span {
        font-size: 22px;
    }
}

.banderines {
    transform: rotate(45deg);
    top: 20px;
    right: 20px;
    width: 30%;
    max-width: 300px;
}

.botones a {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
}



.imagen-1 {
    width: 50%;
}

.imagen-3 {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .imagen-1 {
        width: 35%;
    }

    .imagen-3 {
        width: 30%;
    }
}

.cake {
    width: 5.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
    border: solid 1px #ffffff;
    border-radius: 100%;
    margin: 0 auto;
}

.cake .icon:before {
    font-size: 2rem;
}



.logo-arvolar {
    width: 60px;
    display: inline-block;
    margin-left: 10px;
}